/* ===================== 
GLOBAL
===================== */

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

image {
  object-fit: cover;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  /* background: linear-gradient(rgb(253,    220,    228,    0.9), rgb(253, 240, 228, 0.9)), url('./src/images/priscilla-du-preez-XkKCui44iM0-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: whitesmoke;
  display: flex;
  /* flex-direction: column; exercise 6 takeover */
  justify-content: center;
  align-items: center;
}

h2 {
  color: whitesmoke;
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
}

button {
  cursor: pointer;
}
/* button {
  cursor: pointer;
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: 8px 8px 0 black;
  border: 2px solid black;
  transition: all .5s;
}

button:hover,
button:active {
  box-shadow: 4px 4px 0 black;
  border: 2px solid black;
  background-color: #FDF0E4; 
} 
exercise 6 takeover */

/* ===================== 
JOKES
===================== */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  /* background-color: whitesmoke; exercise 6 takeover */
  width: 70%;
  /* min-width: 750px;*/
  height: 100%;
  /* min-height: 750px; */
  padding: 3em;
  /* border-radius: 10px;
  border: 2px solid black;
  box-shadow: 14px 14px 0 black; exercise 6 takeover */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

#joke-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  color: whitesmoke;
}

#joke-wrapper p {
  width: 40%;
}

.hidden {
  display: none;
}

.score-btn {
  padding: .7em 1em;
}

.blobs {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em;
}

.second-blob {
  margin-top: 20em;
}

.first-blob {
  margin-bottom: 20em;
}

/* ===================== 
WEATHER API
===================== */
div#weather-wrapper {
  position: fixed;
  top: 0;
  left: 0;
}

p.weather-temp {
  font-size: 1.7rem;
  text-shadow: 0px 0px 20px #807e7e;
}

.weather-img {
  text-shadow: 0px 0px 20px #807e7e;
}

.flex-container {
  display: flex;
  align-items: center;
}

/* ===================== 
BUTTONS 
===================== */
#fetch-btn {
  padding: 1em 2em;
  border-radius: 25px;
  outline: 0;
  border: 3px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
}

#fetch-btn:after {
  content: "";
  background-color: #ffe54c;
  border-radius: 20px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 110%;
  top: 4px;
  left: 6px;
  transition: 0.2s;
}

#fetch-btn:hover:after {
  top: 0px;
  left: 0px;
  height: 100%;
}

.score-btn {
  border: none;
  background-color: transparent;
}

.prueba {
  position: relative;
}

.prueba:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: -1;
  transition: 0.2s;
}

.prueba:hover:after {
  top: 0px;
  left: 0px;
}

